h3{
	text-align: center;
}

#toDo {
	height: 50%;
	border: 1px solid red;
	grid-column:2/3;
	grid-row: 1;
}


.container {
	display: grid;
	height: 1000px;
}

.done{
	text-decoration: line-through;
}
