h3{
	text-align: center;
}

#toDo {
	height: 50%;
	grid-column:2/3;
	grid-row: 1;
}

.container {
	display: grid;
	height: 1000px;
}

.done{
	width: fit-content;
	text-decoration: line-through;
	text-decoration-color: red;
	background-color: lightblue;
}

.buttons{
	/*visibility: hidden;*/
	display: inline-block;
}

#toDo {
	overflow: hidden;
}







