h3{
	text-align: center;
	padding-top: 7%;
}

.container {
	height: 1000px;
}

.done{
	width: fit-content;
	text-decoration: line-through;
	text-decoration-color: red;
	background-color: lightblue;
}

.buttons{
	display: inline-block;
}

#toDo {
	overflow: hidden;
}

.notes li {
	color: blue;
}

#input {
	border: none;
	border-bottom: 1px solid black;
	width: 30%;
}

#mainInput {
	text-align: center;
}

h2{
	text-align: center;
	padding-top: 5%;
}

.liContainer {
	overflow: hidden;
}



